<%- include("header") -%>
<div class="box" id="heading">
  <h1>
    <%=listTitle%>
  </h1>
</div>
<div class="box">
  <a class="<%= listTitle=="Today"?"active":"idle"%>" href="/">Main List</a>
  <%lists.forEach(function(list){%>
  <a class="<%= list.name==listTitle?"active":"idle"%>" href="<%=list.name%>"><%=list.name%></a>
  <%});%>
</div>
<div class="box">
  <%listItems.forEach(item =>{%>
  <% if(listTitle !== "Comments list"){%>

  <form action="/delete" method="POST">
    <div class="item">

      <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
      <input type="hidden" name="listName" value="<%=listTitle%>">
      <p>
        <%=item.name %>
      </p>
    </div>
  </form>
  <%}else{%>
  <p>
    <%=item.name %>
  </p>
  <%}%>
  <%});%>

  <form class="item" method="POST" action="/">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required>
    <button type="submit" name="list" value="<%= listTitle%>">+</button>
  </form>
</div>
<%- include("footer") -%>